/* MapTest.css */

/* General page styling */
.map-page {
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .map-title {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Map container styling */
  .map-container {
    height: 80vh;
    width: 90vw;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }
  
  /* Tooltip styling for postcode labels */
  .leaflet-tooltip.zone-label {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }