/* Global CSS for all pages */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

/* Specific fixes for standalone mode */
@media all and (display-mode: standalone) {
  html, body {
    height: 100vh;
    min-height: -webkit-fill-available;
  }
}

#root {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
  html, body {
    height: -webkit-fill-available;
  }
}